.cart {
  display: block;
  padding: 1.07rem 1.79rem 1.07rem 1.79rem;
  margin: 0 5.14rem 1.07rem auto;
  background: #fe5f1e;
  border: none;
  border-radius: 2.14rem;
  color: white;
  font-size: 1.14rem;
  font-weight: bold;
  line-height: 1.375;
}

.totalPrice {
  padding: 0.16rem 1rem 0.16rem 0;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.icon {
  display: inline;
  width: 1.14rem;
  height: 1.14rem;
  margin-left: 0.71rem;
  margin-bottom: -0.12rem;
}

.itemsCount {
  margin-left: 0.57rem;
}
