.sortBy {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}

.order {
  background: none;
  border: none;
  padding: 0;
  margin-right: 0.5rem;
}

.orderIcon {
  display: block;
  width: 0.72rem;
}

.selectOption {
  background: none;
  border: none;
  padding: 0;
  letter-spacing: 0.015em;
  line-height: 1.36;
  color: #fe5f1e;
  border-bottom: 1px dashed #fe5f1e;
}

.selectOptionLabel {
  letter-spacing: 0.015em;
  line-height: 1.36;
  color: #2c2c2c;
  margin-right: 0.5rem;
}

.options {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 25px;
  right: 0;
  background: #ffffff;
  box-shadow: 0px 0.36rem 1.07rem rgba(0, 0, 0, 0.09);
  border-radius: 0.71rem;
  letter-spacing: 0.05em;
}

.options:focus,
.options:active {
  outline: none;
}

.option {
  padding: 0.72rem 2.14rem 0.72rem 1.07rem;
}

.highlightedOption {
  background: rgba(254, 95, 30, 0.05);
  color: #fe5f1e;
}

.option:first-of-type {
  margin-top: 0.72rem;
}

.option:last-of-type {
  margin-bottom: 0.72rem;
}
