.page {
  font-size: 14px;
  margin: 10px 10px 0 10px;
  min-height: calc(100vh - 20px);
  background-color: #ffffff;
  border-radius: 10px;
}

.cart {
  display: block;
  padding: 1.07rem 1.79rem 1.07rem 1.79rem;
  margin: 0 5.14rem 1.07rem auto;
  background: #fe5f1e;
  border: none;
  color: white;
  border-radius: 2.14rem;
  font-size: 1.14rem;
  font-weight: 700;
}

.cartTotalPrice {
  padding: 0.16rem 0.71rem 0.16rem 0;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.cartIcon {
  display: inline;
  width: 1.14rem;
  height: 1.14rem;
  margin-left: 0.71rem;
  margin-bottom: -0.11rem;
}

.cartItemsCount {
  margin-left: 0.57rem;
}
