.cart {
  display: block;
  padding: 1.07rem 1.79rem 1.07rem 1.79rem;
  margin: 0 5.14rem 1.07rem auto;
  background: #fe5f1e;
  border: none;
  color: white;
  border-radius: 2.14rem;
  font-size: 1.14rem;
  font-weight: 700;
}

.cartTotalPrice {
  padding: 0.16rem 0.71rem 0.16rem 0;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.cartIcon {
  display: inline;
  width: 1.14rem;
  height: 1.14rem;
  margin-left: 0.71rem;
  margin-bottom: -0.11rem;
}

.cartItemsCount {
  margin-left: 0.57rem;
}

.main {
  margin: 4.29rem 5.86rem 0 5.86rem;
}

.productsBar {
  display: flex;
  align-items: center;
}

.productsBarButton {
  height: 3.36rem;
  min-width: 5.93rem;
  font-size: 1.29rem;
  line-height: 1.79rem;
  letter-spacing: 0.015em;
  color: white;
  padding: 0 1.07rem 0 1.43rem;
  margin-right: 0.5rem;
  background-color: #282828;
  border: none;
  border-radius: 7.14rem 4.29rem 4.29rem 2.14rem;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 2.28rem;
  line-height: 3.15rem;
  letter-spacing: 0.01em;
  margin-top: 0.5rem;
}
